
/* Styles */

* {
    font-family: Helvetica, 'Times New Roman', Times, serif;
    font-size: 28px;
}


button.black {
    background-color: black;
    color: aliceblue;
}

button.yellow {
    background-color: yellow;
    
}